:root {
    --uia-red: #c80f2e;
    --off-white: #fffcfc;
}


/* Hele dokumentet */
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

/* Bakgrunn og sentrering */
body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: var(--off-white);
}

/* Container for innlogging */
.login-container {
  background-color: white;; /* Lysere blå boks */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Overskrift */
.login-container h2 {
  font-size: 48px;
  font-weight: bold;
  color: var(--uia-red); 
  margin-bottom: 20px;
}

/* Feilmeldinger */
.error-messages ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  color: red;
  text-align: left;
}

/* Skjemaelementer */
.form-group {
  margin-bottom: 15px;
  text-align: left;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

